.cart-area{
    height: 300px;
    width: 280px;
    margin: 100px 0;
    padding: 20px 10px;
    background-color: #fe924f;
    color: white;
    text-align: center;
    box-shadow: 7px 5px 12px grey;
}
sup{
    background-color: white;
    color: #fe924f;
    border-radius: 50%;
    padding: 0 9px;
    font-size: 25px;
}
