.course-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #1C1D1F;
    color: white;
    margin: 30px 0;
}
.course-details {
    width: 60%;
    margin: 35px;
}
.check-out {
    padding: 60px 0 0 0;
    width: 30%;
}
button{
    font-weight: 600;
}