header{
  background-color: #fe924f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  height: 100px;
  width: 200px;
}
.course-list{
  margin: 30px 50px;
  padding: 10px 30px;
  width: 70%;
}
.course-cart-container{
  display: flex;
}